body{
    background-color: rgb(236, 236, 236);
    font-family: 'Rajdhani', sans-serif;
}


.Logo{
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}

nav{
    height: 100px;
    width: 100%;
    background-color: white;
}

h1{
    top: 25vh;
    font-family: 'Nova Square';
    color: #890403;
}

h2{
    font-family: 'Nova Square';
    color: #890403;
}

h4{
    color: #890403;    
}

main{
   
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    background-image: 
    linear-gradient( 
        rgb(255, 253, 253),
        rgba(255, 255, 255, 0.171)
    ),
    url(./media/switzerland-862870_1920.jpg);
    
}

ul {
    list-style: none; /* rimuove il bullet point predefinito */
    margin: 0; /* rimuove il margine esterno dell'elenco */
    padding: 0; /* rimuove il padding dell'elenco */
  }
  
li {
    margin: 10px 0; /* imposta il margine superiore e inferiore di ogni elemento dell'elenco */
    padding: 0 0 0 30px; /* imposta il padding a sinistra di ogni elemento dell'elenco */
    line-height: 1.5; /* imposta l'altezza della riga dell'elemento dell'elenco */
    position: relative; /* rende l'elemento dell'elenco un elemento di posizione relativa */
  }
  
li:before {
    content: ""; /* aggiunge un contenuto vuoto all'elemento prima del testo */
    display: block; /* rende l'elemento un blocco */
    width: 16px; /* imposta la larghezza del cerchio */
    height: 16px; /* imposta l'altezza del cerchio */
    border-radius: 50%;
    border: 3px solid blue;
    background-color: #890403;
    position: absolute; /* rende il cerchio un elemento di posizione assoluta rispetto all'elemento dell'elenco */
    top: 8px; /* posiziona il cerchio al centro dell'altezza dell'elemento dell'elenco */
    left: 0; /* posiziona il cerchio all'inizio dell'elemento dell'elenco */
    transform: translateX(-50%); /* centra il cerchio orizzontalmente */
  }
  



#cit{
    width: 600px;
}

.line{
    color: #890403;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cit2{
    width: 685px;
}

.montagna{
    width: 100%;
}

.button{
    width: 150px;
    height: 30px;
    background-color: brown;
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
}

.alt-button{
    height: 480px;
    background-image: url(/media/trees2.png);
}

.li1{
    width: 500px;
}

.timeline{
    background-image: url(/media/single.png);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 40vw;
}

.img-team{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    outline: 3px solid red;
    border: 6px solid transparent;
}

.grand{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    outline: 3px solid red;
    border: 6px solid transparent;
}